/*
	AnythingSlider v1.5.10+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
#slider div.anythingSlider {
	display: block;
	width: 914px;
	height: 318px;
	margin: 0 auto;
	overflow: hidden; /* needed for Opera and Safari */
}

/******* SET DEFAULT DIMENSIONS HERE ********/
.tabs #slider div.anythingSlider {
	/*left:-67px;*/
	
	left:-45px;
}


/****** SET COLORS HERE *******/
/* Default State */
#slider div.anythingSlider .thumbNav a {
	background: #fecd04;
	color: #000;
}

#slider div.anythingSlider .thumbNav a.cur {
	background-color: #000;
	color:#FFF;
}

	
	
#slider div.anythingSlider .anythingWindow {
	border-top: 0px solid #777;
	border-bottom: 0px solid #777;
}
#slider div.anythingSlider .start-stop {
	background-color: #040;
	color: #fff;
}
#slider div.anythingSlider .start-stop.playing {
	background-color: #800;
}
#slider div.anythingSlider .start-stop:hover, #slider div.anythingSlider .start-stop.hover {
	color: #ddd;
}

/* Active State */
#slider div.anythingSlider.activeSlider .anythingWindow {
	border-color: #fecd04;
}
#slider div.anythingSlider.activeSlider .thumbNav a {
	background-color: #fecd04;
}

#slider div.anythingSlider.activeSlider .thumbNav a.cur {
	background-color: #000;
	color:#FFF;
}

#slider div.anythingSlider .start-stop {
	background-color: #000;
	color: #fff;
}
#slider div.anythingSlider .start-stop.playing {
	background-color: #fecd04;
	color: #000;
}
#slider div.anythingSlider .start-stop:hover {
/*	color: #000;
	background-image:url(../images/pause.gif);
	background-repeat: no-repeat;*/
}




/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
#slider div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
#slider div.anythingSlider {
	position: relative;
	left:-45px;
	padding: 0 45px 28px 45px;
}

/*#boat-slider div.anythingSlider {
	position: relative;
	left:-45px;
	padding: 0 45px 28px 45px;
}*/

/* anythingSlider base UL */
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
/*	margin-left:45px;*/
	padding:0;
	margin:0;
}

/* Navigation Arrows */
#slider div.anythingSlider .arrow {
	top: 35%;
	position: absolute;
	display: block;
	padding:0;
	margin:0;
}
#slider div.anythingSlider .arrow a {
	display: block;
	/*height: 120px;*/
	height: 71px;
	margin: -60px 0 0 0; /* half height of image */
	width: 45px;
	text-align: center;
	outline: 0;
	
	background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#100FFFFFF,endColorstr=#100FFFFFF)"; /* IE 8 */   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE 6 & 7 */      
  zoom: 1;
  
	background: url(../images/arrows.png) no-repeat;
	/*background-color:#FFFFFF;*/
	padding:0;


}
#slider div.anythingSlider .arrow a span { display: block; text-indent: -9999px; }
#slider div.anythingSlider .forward { right: 0;}
#slider div.anythingSlider .back { left: 0; }
#slider div.anythingSlider .forward a { background-position: 0 -62px; padding:0;
	margin:0;}
#slider div.anythingSlider .back a { background-position: -88px -62px; padding:0;
	margin:0;}
#slider div.anythingSlider .forward a:hover, #slider div.anythingSlider .forward a.hover { background-position: 0 -262px; padding:0;
	margin:0;}
#slider div.anythingSlider .back a:hover, #slider div.anythingSlider .back a.hover { background-position: -88px -262px; padding:0;
	margin:0;}
#slider div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
#slider div.anythingSlider .back.disabled { display: none; }

/* Navigation Links */
#slider div.anythingSlider .anythingControls { 
outline: 0; 
display: none;
position:relative;
top:-17px;

/*	background: url(../images/bg-cs-portfolio.jpg) repeat-x bottom center;
	height: 50px;
	margin: 0 auto 50px auto;
	text-align: center;
	z-index: 100;*/

	background-image:url(../images/slider-hm-th-bg.png);
	background-repeat:no-repeat;
	background-position:top right;
	height:26px;
}

/* Navigation Links */
.tabs-news #slider div.anythingSlider .anythingControls { 
	background-image:url(../images/slider-th-bg.png);
}


#slider div.anythingSlider .thumbNav { 

padding: 0;
/*position:relative;*/
/*top:-30px;*/
text-align:right;
margin:0;
}



#slider div.anythingSlider .thumbNav li { display: inline; }
#slider div.anythingSlider .thumbNav a {
	font-size:12px;
	font-family: Helvetica;/*MuseoSlab-700;*/
	display: inline-block;
	text-decoration: none;
	padding: 2px 2px;
	height: 11px;
	margin: 0 2px 0 0;
	background-repeat: repeat-x;
	text-align: center;
	outline: 0;
	margin-top:5px;
}

#slider div.anythingSlider .thumbNav a span{
	height:11px;
}

a:hover {
	background-image: none;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
#slider div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
#slider div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */
#slider div.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* #slider div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
#slider div.anythingSlider .start-stop {
	font-family: Helvetica;/*MuseoSlab-700;*/
	font-weight: 700;
/*	background-repeat: repeat-x;
	background-position: center top;*/
	padding: 2px 0px 1px 0;
	width: 35px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
	margin-top:5px;
	margin-left:0px;
	margin-right:5px;
	margin-bottom:0px;

}
#slider div.anythingSlider .start-stop:hover, #slider div.anythingSlider .start-stop.hover { background-image: none; }

#slider div.anythingSlider, #slider div.anythingSlider .anythingWindow, #slider div.anythingSlider .thumbNav a, #slider div.anythingSlider .arrow a, #slider div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}




